[submodule "client"]
	path = https://github.com/extracold1209/websocket-test-react.git
	url = ./client

[submodule "server"]
	path = https://github.com/extracold1209/websocket-test-node.git
	url = ./server
